@page
@model PRN221.ClinicDental.Presentation.Pages.ClinicOwner.ManageClinic.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="CreateClinic">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].ClinicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].District)
            </th>
            <th>
               Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clinic) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageURL)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClinicId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClinicId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClinicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
